<svg width="40px" viewBox="-269 392.2 56.7 56.7" id="fb">
<path d="M-228.6,413.9h-7.6v-5c0-1.9,1.2-2.3,2.1-2.3c0.9,0,5.4,0,5.4,0v-8.3l-7.4,0c-8.2,0-10.1,6.2-10.1,10.1v5.5h-4.8v8.5h4.8
	c0,10.9,0,24.1,0,24.1h10c0,0,0-13.3,0-24.1h6.8L-228.6,413.9z"/>
</svg>

<svg width="40px" viewBox="-269 392.2 56.7 56.7" id="inst">
<path d="M-225.6,397H-256c-5.3,0-9.6,4.3-9.6,9.6v10.1V437c0,5.3,4.3,9.6,9.6,9.6h30.4c5.3,0,9.6-4.3,9.6-9.6v-20.3v-10.1
	C-216,401.3-220.3,397-225.6,397z M-222.8,402.7l1.1,0v1.1v7.3l-8.4,0l0-8.4L-222.8,402.7z M-247.9,416.7c1.6-2.2,4.2-3.6,7.1-3.6
	s5.5,1.4,7.1,3.6c1,1.4,1.7,3.2,1.7,5.1c0,4.8-3.9,8.7-8.7,8.7c-4.8,0-8.7-3.9-8.7-8.7C-249.5,419.9-248.9,418.2-247.9,416.7z
	 M-220.8,437c0,2.6-2.1,4.8-4.8,4.8H-256c-2.6,0-4.8-2.1-4.8-4.8v-20.3h7.4c-0.6,1.6-1,3.3-1,5.1c0,7.5,6.1,13.6,13.6,13.6
	c7.5,0,13.6-6.1,13.6-13.6c0-1.8-0.4-3.5-1-5.1h7.4V437z"/>
</svg>

<svg width="40px" viewBox="-285 408.9 24 24" id="vk">
<path d="M-263.5,415.9h-3.3c-0.3,0-0.5,0.2-0.7,0.4c0,0-1.3,2.4-1.7,3.2c-1.1,2.2-1.9,1.5-1.9,0.5v-3.5c0-0.6-0.5-1.1-1.1-1.1h-2.5
	c-0.7-0.1-1.3,0.3-1.8,0.8c0,0,1.3-0.2,1.3,1.5c0,0.4,0,1.6,0,2.6c0,0.4-0.3,0.7-0.7,0.7c-0.2,0-0.4-0.1-0.6-0.2
	c-1-1.4-1.9-2.9-2.5-4.5c-0.1-0.2-0.4-0.4-0.6-0.4c-0.7,0-2.1,0-3,0c-0.3,0-0.5,0.2-0.5,0.5c0,0.1,0,0.1,0,0.2
	c0.9,2.5,4.8,10.3,9.3,10.3h1.9c0.4,0,0.7-0.3,0.7-0.7V425c0-0.4,0.3-0.7,0.7-0.7c0.2,0,0.4,0.1,0.5,0.2l2.2,2.1
	c0.2,0.2,0.5,0.3,0.7,0.3h3c1.4,0,1.4-1,0.6-1.8c-0.5-0.5-2.5-2.6-2.5-2.6c-0.3-0.4-0.4-0.9-0.1-1.3c0.6-0.8,1.7-2.2,2.1-2.8
	C-263,417.6-262,415.9-263.5,415.9z"/>
</svg>


<svg width="50px" height="94px" id="slider__arrow" viewBox="0 0 59.53 84.19">
    <defs>
        <rect id="SVGID_1_" y="0" width="49.9" height="93.8"/>
    </defs>
    <path clip-path="url(#SVGID_2_)" d="M5.6,91.9c-0.6,0.6-1.4,1-2.3,1c-0.9,0-1.7-0.3-2.3-1c-1.3-1.3-1.3-3.4,0-4.6l40.8-40.8L1,5.7
        C-0.3,4.4-0.3,2.3,1,1c1.3-1.3,3.4-1.3,4.6,0l43.1,43.1c1.3,1.3,1.3,3.4,0,4.6L5.6,91.9z M5.6,91.9"/>
</svg>  